body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: orange;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    background-color: wheat;
    margin:10px;
    padding: 20px;
    box-shadow: 0,0,10px;
    color: black;
    border-radius: 5%;
    width: 250px;
    height: 350px;
    text-align: center;
}

div img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
#heading1 {
    color: white;
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 20px;
}
